.wp-list-table {
    table-layout: fixed;
    width: 100%;

    th,
    td {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        word-wrap: break-word;
    }

    th.column-site,
    td.column-site { width: 14% !important; }

    th.column-infos,
    td.column-infos { width: 14% !important; }

    th.column-users,
    td.column-users { width: 12% !important; }

    th.column-cpt_builtin,
    td.column-cpt_builtin { width: 12% !important; }

    th.column-cpt_custom,
    td.column-cpt_custom { width: 12% !important; }

    th.column-taxo_builtin,
    td.column-taxo_builtin { width: 12% !important; }

    th.column-taxo_custom,
    td.column-taxo_custom { width: 12% !important; }

    th.column-plugins,
    td.column-plugins { width: 12% !important; }

    span[title] {
        cursor: help;
        border-bottom: 1px dotted #666;
    }
}