.wp-list-table {
  table-layout: fixed;
  width: 100%;
}
.wp-list-table th,
.wp-list-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  word-wrap: break-word;
}
.wp-list-table th.column-site,
.wp-list-table td.column-site {
  width: 14% !important;
}
.wp-list-table th.column-infos,
.wp-list-table td.column-infos {
  width: 14% !important;
}
.wp-list-table th.column-users,
.wp-list-table td.column-users {
  width: 12% !important;
}
.wp-list-table th.column-cpt_builtin,
.wp-list-table td.column-cpt_builtin {
  width: 12% !important;
}
.wp-list-table th.column-cpt_custom,
.wp-list-table td.column-cpt_custom {
  width: 12% !important;
}
.wp-list-table th.column-taxo_builtin,
.wp-list-table td.column-taxo_builtin {
  width: 12% !important;
}
.wp-list-table th.column-taxo_custom,
.wp-list-table td.column-taxo_custom {
  width: 12% !important;
}
.wp-list-table th.column-plugins,
.wp-list-table td.column-plugins {
  width: 12% !important;
}
.wp-list-table span[title] {
  cursor: help;
  border-bottom: 1px dotted #666;
}